		<!-- começo-menu.html -->
		{% load staticfiles %}
		{% include 'material.html' %}


			<!-- start-Dropdown Structure -->
			<ul id='dropdown1' class='dropdown-content'>
				<li><a href="{% url 'accounts:edit' %}">Minha conta</a></li>
				<li><a href="#!">Suporte</a></li>
				<li class="divider"></li>
				<li><a href="{% url 'accounts:logout' %}">Sair</a></li>
			</ul>
			<!-- end-Dropdown Structure -->


				<nav>
				<div class="nav-wrapper blue darken-3">

				<a href="/" data-activates="slide-out" class="brand-logo"><img src="{% static 'img/aisha.png' %}"></a>
					<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

					<ul class="right hide-on-med-and-down">
					<li><a href="{% url 'cursos:dashboard_in' %}">Produtor</a></li>
					
						<li><a href="{% url 'accounts:show' %}" alt="Seus cursos">Meus cursos</a></li>
						<li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ user }}<i class="material-icons right">arrow_drop_down</i></a></li>
						 </a>  
						
					</ul>
					<ul class="side-nav" id="mobile-demo">
						<li><a href="{% url 'cursos:dashboard_in' %}">Painel produtor</a></li>
						<li><a href="{% url 'accounts:show' %}" alt="Seus cursos">Seus cursos</a></li>
						<li><a href="collapsible.html">Javascript</a></li>
					 
					</ul>
				</div>
			</nav>
		 

		<!-- fim-menu.html -->