{% include 'menu.html' %}


<style type="text/css">
	
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
</style>
<script type="text/javascript">
		$(document)
		.ready(function() {
			$('.ui.form')
				.form({
					fields: {
						email: {
							identifier  : 'email',
							rules: [
								{
									type   : 'empty',
									prompt : 'Por favor digite um e-mail'
								},
								
							]
						},
						username: {
							identifier  : 'username',
							rules: [
								{
									type   : 'empty',
									prompt : 'Por favor digite um usuário'
								},
								{
									type   : 'length[6]',
									prompt : 'Seu usuário deve ser maior que 6 digítos'
								}
							]
						},
						password: {
							identifier  : 'password',
							rules: [
								{
									type   : 'empty',
									prompt : 'Por favor digite uma senha'
								},
								{
									type   : 'length[6]',
									prompt : 'Sua senha deve ser maior que 6 digítos'
								}
							]
						}
					}
				})
			;
		})
	;
</script>
<div class="ui middle aligned center aligned stackable grid container">
	<div class="eight wide column">
		<h1 class="ui image header">
			<div class="content">
				Crie sua conta
				</div>
		</h1>
		<form method="POST" class="ui large form">
		
		{% csrf_token %}
 <div class="ui stacked secondary segment" style="border-radius:3%;">
       
                <div class="field">
             <div class="ui left icon input">
            <i class="user icon"></i>
            <input id="id_email" name="email" type="email" required placeholder="digite um e-mail">
          </div>
        </div>
        <div class="field">
             <div class="ui left icon input">
            <i class="user icon"></i>
            <input  autofocus="" id="id_username" maxlength="150" name="username" type="text" required placeholder="digite um usuario">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
           
             <input id="id_password1" name="password1" type="password" required  placeholder="digite uma senha">
          </div>
          </div>
         
        	<div class="field">
         	<div class="ui left icon input">
            <i class="lock icon"></i>
            <input id="id_password2" name="password2" type="password" required  placeholder="digite a senha novamente">
        </div>
        </div>
        </form>
			
			<button type="submit" class="ui fluid large blue submit button">Criar conta</button>
		 

			<div class="ui error message"></div>

		</form>

		<div class="ui message">
			Já tem uma conta? <a href="{% url 'accounts:login' %}">Acessar</a>
		</div>
	</div>
</div>