{% load static %}

{% include 'menu.html' %}
<h1 class="ui header">{{ curso.name }}</h1>
<a class="ui red button" href="{% url 'cursos:lessons' curso.slug %}">Acessar aulas</a>
<!---BLOCO DO VIDEO-->
<div class="ui grid">
<div class="eight wide column">

</div>
<div class="eight wide column">
<div class="backgroundplayer" align="center">
<div class="jwplayer-a" align="center">
<script src="//content.jwplatform.com/players/lhVM7anR-LvXcG1iQ.js"></script>
</div></div></div></div>
<!---BLOCO DO VIDEO^-->

<!---MENU-->

<div class="ui stackable large menu margin-mn">
<div class="item">
    <img src="{% static 'img/logo.png' %}">
  </div>
  <a class="item" href="#descricao">Descrição</a>
  <a class="item" href="#anuncios">Anúncios</a>
  {% for lesson in lessons %}
  <a class="item" href="{% url 'cursos:lessons' curso.slug %}">Conteúdo</a>
  {% endfor %}
  <a class="item">Perguntas</a>
</div>




<div class="ui grid">

<div class="ten wide column" id="descricao" style="margin:2% 0 1% 5%;">
<h2>Descrição do Curso</h2>
{{ curso.description|linebreaks }}
</div>

<div class="ten wide column" id="anuncios" style="margin:2% 0 1% 5%;">
<h2>Anúncios</h2>
{% include 'cursos/show_announcement.html' %}
</div>

<div class="eight wide column" id="conteudo" style="margin:5%;">
<h2>Conteúdo do Curso</h2>
<table class="ui inverted red large unstackable table">
  <tbody>
    <tr>
      <td>Seja bem vindo</td>
      <td></td>
      <td class="tempo">00:03:00</td>
    </tr>
    <tr>
      <td>Aula 1 - Introdução as vitaminas</td>
      <td></td>
      <td class="tempo">00:05:00</td>
    </tr>
    <tr>
      <td>Aula 2 - Introdução as minerais</td>
      <td></td>
      <td class="tempo">00:09:00</td>
    </tr>
    <tr>
      <td>Aula 3 - Introdução a ácidos graxos</td>
      <td></td>
      <td class="tempo">00:06:00</td>
    </tr>
    <tr>
      <td>Aula 4 - Introdução a proteínas</td>
      <td></td>
      <td class="tempo">00:12:00</td>
    </tr>
  </tbody>
</table>
</div></div>

</div>



