{% load static %}


<!---CSS-->
<link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.3/components/dropdown.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/components/comment.min.css">
<!---CSS-->

<!---BLOCO DO VIDEO-->
  <div class="ui grid" style="background-color:#262626; height:90%;">
  <div class="ten wide column">

  <iframe width="60%" height="50%" src="https://www.youtube.com/embed/IGq6LxjiYZA" frameborder="0" allowfullscreen style="margin:10% 0 10% 20%"></iframe>

    </div>

 
    </div>
<!---BLOCO DO VIDEO^-->

<!---MENU-->
  {% for announcement in announcements %}
<div class="ui stackable menu" style="position:relative;">

  <div class="item">
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSmyADA-nBibGhuziW_a0k9VqFmIJ7Vl1K299r_BHycsyXb14WG">
  </div>
  <a class="item" href="#dashboard">Dashboard</a>
  <a class="item" href="#conteudo">Conteúdo</a>
  <a class="item" id="bt" href="{% url 'cursos:show_announcement' curso.slug announcement.pk %}#anuncios">Anúncios</a>
  <a class="item" href="#per">Perguntas e Respostas</a>

</div>
{% empty %}
Nenhum anúncio criado
{% endfor %}
<!---MENU-->

<div class="ui grid" id="anuncios" style="margin:5%;">
<div class="eight wide column">
<h2>Anúncios</h2>
{% include 'cursos/show_announcement.html' %}
</div>
</div>


</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="http://arrow.scrolltotop.com/arrow83.js"></script>



<!---Javascript-->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/components/accordion.js">
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.3/components/dropdown.min.js"></script>
<script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
<script src="{% static 'js/event_class.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/components/accordion.js"></script>
<script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
<!---^Javascript-->

