{% include 'head.html' %}

{% load static %}
{% if curso.image_capa %}
<style type="text/css">
  .hero:before {

    background: url("{{ curso.image_capa.url }}") !important;
    background-size: cover !important;
   
}

</style>
 {% else %}
 <style type="text/css">
  .hero:before {
    background: url("https://newevolutiondesigns.com/images/freebies/abstract-facebook-cover-6.jpg") !important;
    background-size: cover !important;
   
}

</style>
 {% endif %}    
<div class="movie-card">
  <div class="container-c">
   
    <div class="hero">
    <a href="/" class="nave"><i class="grid layout icon"></i>Navegar</a>
           <!-- <a href="{% url 'accounts:show' %}"> <button class="ui teal button cs">-->
            <a href="{% url 'accounts:show' %}"> <button class="ui inverted button cs">
          Seus cursos
      </button></a>
      <div class="ui details">
      
        <div class="title1">{{ curso.name }} <span class="valor">Promoção</span></div>

        <div class="title2">{{ curso.autor }}</div>    
        
        <fieldset class="rating" style="margin-left:-1%;">
    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
    <input type="radio" id="star4" name="rating" value="4" checked /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
  </fieldset>


{% if enrollment.is_approved %}
<a href="{% url 'cursos:enrollment' curso.slug %}">
<button class="ui inverted blue button">
  Acessar curso
</button></a>
{% else %}
<a href="{% url 'cursos:enrollment' curso.slug %}">
<button class="ui red button">
  Adquirir por {{ curso.value }}
</button></a>
{% endif %}      
      </div> <!-- end details -->
      
    </div> <!-- end hero -->
    
    <div class="description">
      
      <div class="column1">
        <span class="tag"></span>
        <span class="tag"></span>
     
      </div> <!-- end column1 -->
      
      <div class="column2">
      <a href="{{ curso.categoria.get_absolute_url }}">{{ curso.categoria }}</a>
        <h2>Descrição do curso</h2>
        <p>{{ curso.description }}</p>
        
        <div class="avatars">
          <a href="#" data-tooltip="Person 1" data-placement="top">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/hobbit_avatar1.png" alt="avatar1" />
          </a>
          
          <a href="#" data-tooltip="Person 2" data-placement="top">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/hobbit_avatar2.png" alt="avatar2" />
          </a>
          
          
          <a href="#" data-tooltip="Person 3" data-placement="top">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/hobbit_avatar3.png" alt="avatar3" />
          </a>
          
        </div> <!-- end avatars -->
        
        
        
      </div> <!-- end column2 -->
    </div> <!-- end description -->
    

  </div> <!-- end container -->
</div> <!-- end movie-card -->