* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
	line-height: 1.7em;
	color: #7f8c8d;
	font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
	font-family: MoskExtra-Light200;
	src: url(../fonts/MoskExtra-Light200.ttf);
	color: #34495e;
}

.pure-img-responsive {
	max-width: 100%;
	height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
	padding: 1em;
}


.l-box-lrg {
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 2em;
}

.is-center {
	text-align: center;
   }



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
	font-size: 100%;
	font-weight: bold;
	margin: 1em 0 0;
}

.pure-form input[type] {
	background: transparent;
	border-radius: 8px 0 0 8px;
	border: 1px transparent #ffffff;
	float: left;
	width: 100%;

}
.ffinal input[type] {
	overflow: hidden;
	width: 50% !important;
	margin-left: 25%;

}
.f2final {
	background-color:#00E8FF;
	opacity: 0.5;
	position: absolute;
	border-radius: 0 8px 8px 0;
	cursor:pointer;
	width: 77px;
	height: 83px;
	margin-right: 50%;
	border: none;
}
.textarea, input{
	font-size: 20px;
	opacity: 0.75;
	font-family: MoskExtra-Light200;
	src: url(../fonts/MoskExtra-Light200.ttf);
	color:#ffffff;

}
.textarea:focus, input:focus{
	outline: none;
	color:#ffffff;
}

.bt_search {
	background-color:#00E8FF;
	border-radius: 0 8px 8px 0;
	border: none;
	cursor:pointer;
	float: right;
	height: 15%;
	opacity: 0.5;
	position: absolute;
	width: 7%;
}
.bt_search:hover {
	background-color:#009EAD;
	border-radius: 0 8px 8px 0;
	border: none;
	cursor:pointer;
	height: 15%;
	opacity: 0.5;
	width: 7%;
}

::-webkit-input-placeholder {
	color: #ffffff;
	font-size: 15px;
	line-height: 35px; 
	src: url(../fonts/MoskExtra-Light200.ttf);
   font-family: MoskExtra-Light200;
}

:-moz-placeholder { /* Firefox 18- */
	font-family: MoskExtra-Light200;
	src: url(../fonts/MoskExtra-Light200.ttf);
	font-size: 15;
	color: #ffffff;
	line-height: 35px; }

::-moz-placeholder {  /* Firefox 19+ */
   font-family: MoskExtra-Light200;
	src: url(../fonts/MoskExtra-Light200.ttf);
	font-size: 15;
	color: #ffffff;
	line-height: 35px;   
}

:-ms-input-placeholder {  
	font-family: MoskExtra-Light200;
	src: url(../fonts/MoskExtra-Light200.ttf);
	font-size: 15;
	color: #D7D7D7;
	line-height: 35px; 
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
	background-color: #1f8dd6;
	color: white;
	padding: 0.5em 2em;
	border-radius: 5px;
}

a.pure-button-primary {
	background: white;
	color: #1f8dd6;
	border-radius: 5px;
	font-size: 120%;
}


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
	position: absolute;
	padding: 0.5em;
	text-align: center;
	}
.home-menu {
	background: transparent;
}
.pure-menu.pure-menu-fixed {
	/* Fixed menus normally have a border at the bottom. */
	border-bottom: none;
	/* I need a higher z-index here because of the scroll-over effect. */
	z-index: 4;
}

.home-menu .pure-menu-heading {
	color: white;
	font-weight: 400;
	font-size: 120%;
}

.home-menu .pure-menu-selected a {
	color: white;
}

.home-menu a {
	font-family: MoskExtra-Light200;
	src: url(../fonts/MoskExtra-Light200.ttf);
	color: #ffffff;
}
.home-menu li a:hover,
.home-menu li a:focus {
	background: none;
	border: none;
	color: #E2E2E2;
}

/* Box dos cursos */

div .boxcurso h3 {

	margin-top: 20px;
}
.elementosupresa {
	display:inline-block;
	float: left;
}
.boxcurso {
	vertical-align: bottom;
	width: 207px;
	height: 160px;
	margin: 0 auto;
	margin-bottom: 4%;
	position: relative; 
	overflow: none;
	box-shadow: 0px 4px 4px 1px rgba(182,182,182,0.50);
	border-bottom: solid #9500F2;
	float: left;
	transition: all .2s ease-in-out; 
}
.boxcurso:hover{
	transform: scale(1.1);
	cursor: pointer;
}
div .boxcurso img{
	width: 207px;
	height: 130px;
	position: absolute;
	left: 50%;
	top: 0%;
	margin: -50%;
	border-bottom: 12px solid #9500F2;
}
	
div .boxcurso img:hover {
	  opacity: 0.7;
   
}


div .boxcurso b {
	position: relative;
	color: #9500F2;
	font-size: 130%;
	font-family: MoskSemi-Bold600;
	src: url(../fonts/MoskSemi-Bold600.ttf);
	
}
div .boxcurso p {
	font-size: 85%;
	margin-top: -10%;
	color: #696969;
	font-family: MoskExtra-Light200;
	src: url(../fonts/MoskExtra-Light200.ttf);

}
div .content-head.acs {
	position: relative;
	margin-bottom: 150px;
	font-size: 35px;


} 
.nome-ct {
	font-size: 22px;
	color:#ffffff;
	font-family: MoskExtra-Light200;
	src: url(../fonts/MoskExtra-Light200.ttf); 
}

.ctg-1:hover{
	transform: scale(1.1);
	cursor: pointer;
}
.ctg-2:hover{
	transform: scale(1.1);
	cursor: pointer;
}
.ctg-3:hover{
	transform: scale(1.1);
	cursor: pointer;
}
.ctg-4:hover{
	transform: scale(1.1);
	cursor: pointer;
}
.ctg-5:hover{
	transform: scale(1.1);
	cursor: pointer;
}
.ctg-6:hover{
	transform: scale(1.1);
	cursor: pointer;
}
.ctg-7:hover{
	transform: scale(1.1);
	cursor: pointer;
}
.ctg-8:hover{
	transform: scale(1.1);
	cursor: pointer;
}
.ctg-9:hover{
	transform: scale(1.1);
	cursor: pointer;
}
.ctg-10:hover{
	transform: scale(1.1);
	cursor: pointer;
}
.ctg-1 {
	position: absolute;
	margin-top: 60px;
	margin:60px;
	width: 250px;
	vertical-align: middle;
	height: 150px;
	opacity: 0.55;
	background: transparent;
	text-align: center;
	line-height: 150px;
	box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.50);
	transition: all .2s ease-in-out; 
}
.ctg-2 {
	position: absolute;
	margin-top: 18%;
	margin-left: 4.65%;
	width: 250px;
	height: 120px;
	opacity: 0.55;
	vertical-align: middle;
	background: transparent;
	text-align: center;
	line-height: 120px;
	box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.50);
	transition: all .2s ease-in-out; 
}
.ctg-3 {
	position: absolute;
	margin-top: 60px;
	margin-left: 26%;
	width: 255.5px;
	height: 170px;
	opacity: 0.55;
	background: transparent;
	text-align: center;
	vertical-align: middle;
	line-height: 170px;
	box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.50);
	transition: all .2s ease-in-out; 
}
.ctg-4 {
	position: absolute;
	margin-top: 19.50%;
	margin-left: 37%;
	width: 120px;
	height: 100px;
	opacity: 0.55;
	background: transparent;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.50);
	transition: all .2s ease-in-out; 
}
.ctg-5 {
	position: absolute;
	margin-top: 19.50%;
	margin-left: 26%;
	width: 120px;
	height: 100px;
	opacity: 0.55;
	background: transparent;
	text-align: center;
	line-height: 100px;
	box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.50);
	transition: all .2s ease-in-out; 
}
.ctg-6 {
	position: absolute;
	margin-top: 60px;
	margin-left: 47.90%;
	width: 250px;
	height: 120px;
	opacity: 0.55;
	background: transparent;
	text-align: center;
	line-height: 120px;
	box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.50);
	transition: all .2s ease-in-out; 
}

.ctg-7 {
	position: absolute;
	margin-top: 16%;
	margin-left: 48%;
	width: 250px;
	height: 145px;
	opacity: 0.55;
	background: transparent;
	text-align: center;
	line-height: 145px;
	box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.50);
	transition: all .2s ease-in-out; 
}
.ctg-8 {
	position: absolute;
	margin-top: 16%;
	margin-left: 69.55%;
	width: 320px;
	height: 145px;
	opacity: 0.55;
	background: transparent;
	text-align: center;
	line-height: 145px;
	box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.50);
	transition: all .2s ease-in-out; 
}
.ctg-9 {
	position: absolute;
	margin-top: 60px;
	margin-left: 69.55%;
	width: 320px;
	height: 120px;
	opacity: 0.55;
	background: transparent;
	text-align: center;
	line-height: 120px;
	box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.50);
	transition: all .2s ease-in-out; 
}

.top_ctg {
	margin-top: -1%;
	border: none;
	position: relative;
	height: 550px;
	background-image: url(/static/img/top4.png);
	background-size:cover;
}
.ct p {
	margin-left: 30%;
	font-size: 30px;
	color:#ffffff;
	font-family: MoskExtra-Light200;
	src: url(../fonts/MoskExtra-Light200.ttf);
}
.ct {
	overflow: hidden;
	position: relative;
	border:none;
	padding: 0.5em;
	background-image: url(/static/img/version.png) ;
	background-size: cover

}
.title-ct {
	text-align: center;
	margin-top:1%;
	padding: 5% 0 0 0;
	font-size: 35px;
	color:white;
	font-family: MoskExtra-Light200;
	src: url(../fonts/MoskExtra-Light200.ttf);

}

.ct-button{

	background-color: #00D0E5;
	position: absolute;
	border-radius: 8px;
	border: 1px #ffffff;
	color: white;
	text-align: center;
	font-size: 20px;
	margin-left: 60%; 
	padding: 12px 12px;
	margin-top: -5.5%;
	font-family: MoskExtra-Light200;
	src: url(../fonts/MoskExtra-Light200.ttf);
}
.hwork {
	height: 400px;

}
.hwork p {
	text-align: center;
	align:center;
	font-size: 35px; 
	color:#9500F2;
	font-family: MoskExtra-Light200;
	src: url(../fonts/MoskExtra-Light200.ttf);
}
.como {

	padding: 25px;
	margin: 30px;
	margin-left: 10%;
	display: block;
	font-size: 25px;
	font-family: MoskExtra-Light200;
	src: url(../fonts/MoskExtra-Light200.ttf);
}
.ckimg {
	background-image: url(/static/img/checkimg.png);
	background-position: left;
	background-repeat: no-repeat;
   }
.potencial {
	text-align: center;
	background-image: url(/static/img/woman.png);
	background-repeat: no-repeat;
	background-size: cover ;
	height: 500px;
   }
.potencial p {
	margin-top: -0%;
	padding: 10%;
	color:white;
	font-size: 40px;
	font-family: MoskExtra-Light200;
	src: url(../fonts/MoskExtra-Light200.ttf);
}
 .rox {
	height: 200px;
	background-color: #9500F2;
 }  
 .bt-fn {
	background-image: url(/static/img/botão.png);
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	color: white;
	width: 310px;
	height: 79px;
	font-size: 20px;
	margin-bottom:5%;
	font-family: MoskExtra-Light200;
	src: url(../fonts/MoskExtra-Light200.ttf); 
}
/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
	background-image: url(/static/img/f1.png);
	background-position: 33% 22%;
	background-size: cover;
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: 1;
  
}


.splash {
	/* absolute center .splash within .splash-container */
	width: 80%;
	height: 50%;
	margin: auto;
	position: absolute;
	top: 100px; left: 0; bottom: 0; right: 0;
	text-align: center;
	text-transform: none;
}

/* This is the main heading that appears on the blue section */
.splash-head {
	font-size: 15px;
	font-family: MoskExtra-Light200;
	src: url(../fonts/MoskExtra-Light200.ttf);
	color: white;
	border: none;
	font-weight: 100;
	border-radius: 5px;
	line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
	color: white;
	font-size: 20px;
	letter-spacing: 0.05em;
	font-family: MoskExtra-Light200;
	src: url(../fonts/MoskExtra-Light200.ttf);
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */

.c-alone {
	position: relative;
	top: 15% !important;
  
}
.content-wrapper {
	/* These styles are required for the "scroll-over" effect */
	position: absolute;
	top: 87%;
	width: 100%;
	min-height: 12%;
	z-index: 2;
	background: white;

}

/* This is the class used for the main content headers (<h2>) */
.content-head {
	font-weight: 400;
	text-transform: none;
	letter-spacing: 0.1em;
	margin: 2em 0 1em;
   }

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
	color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
	color: #1f8dd6;
}
	.content-subhead i {
		margin-right: 7px;
	}

/* This is the class used for the dark-background areas. */
.ribbon {
	background: #2d3e50;
	color: #aaa;
}

/* This is the class used for the footer */
.footer {
	background: #111;
}
.pure-menu-list a{
	color:white;
	text-decoration: none;
}
.footer-menu-link{
	color:#7B7B7B !important;
	text-decoration-line: none;
}
.ft-list {
	color:#7B7B7B;
	text-decoration: none !important;
	width:100%;
}
.footer-menu-item{
	text-decoration-line: none;
	padding: 1%;
	color:#7B7B7B;
	margin-left: 2%;
	float: right;
	display:inline-block
	font-size: 15px;
	font-family: MoskExtra-Light200;
	src: url(../fonts/MoskExtra-Light200.ttf);
}
.footer-copy {
	text-decoration-line: none;
	padding: 1%;
	color:#7B7B7B;
	margin-right: 2%;
	float: left;
	display:inline-block
	font-size: 15px;
	font-family: MoskExtra-Light200;
	src: url(../fonts/MoskExtra-Light200.ttf);
}
.bb-final {

	font-size: 40px;
	color:white;
	font-family: MoskExtra-Light200;
	src: url(../fonts/MoskExtra-Light200.ttf);
}
/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

	/* We increase the body font size */
	body {
		font-size: 16px;
	}
	/* We want to give the content area some more padding */
	.content {
		padding: 1em;
	}
	.bfinal {
		background-color: #9500F2;
	}
	.bft {
		background-color: #282828;
		bottom:0px;
		height: 50px;
		left:0px;
		position:absolute;
		width: 100%;
	}

	/* We can align the menu header to the left, but float the
	menu items to the right. */
	.home-menu {
		text-align: left;
	}
		.home-menu ul {
			float: right;
		}

	/* We increase the height of the splash-container */
/*    .splash-container {
		height: 500px;
	}*/

	/* We decrease the width of the .splash, since we have more width
	to work with */
	.splash {
		width: 50%;
		height: 50%;
	}

	.splash-head {
		font-size: 250%;
	}


	/* We remove the border-separator assigned to .l-box-lrg */
	.l-box-lrg {
		border: none;
	}

}


/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
	/* We increase the header font size even more */
	.splash-head {
		font-size: 300%;
	}
}
