{% include 'menu.html' %}
{% load static %}

   
      <div class="ui header"  style="margin-left:10%; margin-bottom:1%;">
<i class="settings icon"></i>
<div class="content">
  Alterar senha
  <div class="sub header">Você pode alterar sua senha</div>
</div>
    </div>
 

<div class="ui four column doubling stackable grid container">

  <div class="column">
  <form class="ui form" method="post">

  {% csrf_token %}
  {% if success %}
  <p>Senha atualizada com sucesso!</p>
  {% endif %}
 {% for field in form %}
 {{ form.non_field_errors }}
<div class="ui form">

 {{ field.label_tag }}
 {{ field }}
 {{ field.errors }}
</div>
  {% endfor %}
  
  <button type="submit" class="ui blue button" style="float:right; margin-top:2%;">Alterar senha</button>
</form>
  </div>

</div>



</body>
</html>