{% include 'head.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
<script language="JavaScript" type="text/javascript"  src="{% static 'semantic/dist/semantic.min.js' %}"></script>

<style type="text/css">
		body > .grid {
			height: 100%;
		}
		.image {
			margin-top: -100px;
		}
		.column {
			max-width: 450px;
		}
</style>
<script type="text/javascript">
		$(document)
		.ready(function() {
			$('.ui.form')
				.form({
					fields: {
						email: {
							identifier  : 'email',
							rules: [
								{
									type   : 'empty',
									prompt : 'Por favor digite seu e-mail'
								},
								{
									type   : 'email',
									prompt : 'Por favor digite seu e-mail'
								}
							]
						},
						password: {
							identifier  : 'password',
							rules: [
								{
									type   : 'empty',
									prompt : 'Por favor digite sua senha'
								},
								{
									type   : 'length[6]',
									prompt : 'Your password must be at least 6 characters'
								}
							]
						}
					}
				})
			;
		})
	;
</script>
<div class="ui middle aligned center aligned grid">
	<div class="column">
		<h2 class="ui image header">
			<div class="content">
				Recuperar senha
				</div>
		</h2>
		<form method="POST" class="ui large form">
		
		{% csrf_token %}
 <div class="ui stacked secondary  segment">
  
  	{% if success %}
  <p>Um e-mail foi enviado para você com mais detalhes de como criar uma nova senha</p>
  	{% else %} 

 	{% for field in form %}
 <div class="field">
<div class="ui form">
 	{{ field.label_tag }}
 	{{ field }}
 	{{ field.errors }}
</div>
        </div>
        </div>
        </form>
		
			<button type="submit" class="ui fluid large blue submit button">Enviar e-mail</button>
		{% endfor %} 
		{% endif %}
			
				<div class="ui message">
			já é cadastrado? <a href="{% url 'accounts:login' %}">acessar</a>
		</div>
	</div>
</div>