/* =============================================================================
  BASE CONTENT
============================================================================= */
.rmv {
	
	background-color: transparent !important;
	background: rgb(25, 25, 25) !important; 
  background: rgba(25, 25, 25, .5) !important;
  z-index: 1 !important;
}

.menu {
	border: none !important;
}

.login_vd {
 
	background: rgb(25, 25, 25) !important; 
  background: rgba(25, 25, 25, .5) !important;

}
.ab {
  
  background-color: white !important;
 
}


/* =============================================================================
  VIDEO
============================================================================= */
.video {
  position: absolute;
  top: 50%; left: 50%;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}
